body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
margin: 0;
padding: 0;
box-sizing: border-box;
}



/* Snowfall.css */
.snowflake {
  position: fixed;
  top: 0; /* Start from the top of the screen */
  width: 10px;
  height: 10px;
  background: white; /* Color of the snowflake */
  border-radius: 50%; /* Make it circular */
  pointer-events: none; /* Allow interaction with underlying elements */
  z-index: 9999;
  animation: fall linear infinite;
}

/* Animation for the snowflake falling */
@keyframes fall {
  0% {
    transform: translateY(-10px); /* Start slightly above the screen */
  }
  100% {
    transform: translateY(100vh); /* End at the bottom of the screen */
  }
}
